@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body{
    background-image: url(../images/bg_action.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-size: cover;
}

.title{
    font-size: 25px;
    color: white;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 25px;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    transition: 0.3s ease;
}

nav a.ativo::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0d00ff;
}

nav a:hover {
    color: #4f46e5;
}

i {
    font-size: 30px;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
}

.card {
    background-color: #1f1f2f;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.95em;
    color: #ffffff;
}

footer {
    text-align: center;
    color: #ffffff;
}